body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  max-width: 350px;
  border-radius: 25px;
  text-align: center;
  padding: 1.2rem;
}

.code {
  width: 100%;
  border-radius: 20px;
}

.title {
  font-size: 1.6rem;
}

.content {
  color: hsl(220, 15%, 55%);
  font-size: 1.1rem;
}

.attribution {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
}
